<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light d-flex">
        <div class="container-fluid">
            <div class="navbar-header d-flex align-items-center">
                <h3 class="mr-2">Dealership Application</h1>
                  <a class="navbar-brand" href="about">About Us</a>
                  <a class="navbar-brand" href="contact">Contact</a>
            </div>
            {% if user.is_authenticated %}
<div class="rightalign">
       <div class="d-flex>
           <button class="btn btn-link mr-2">{{user.username}}</button>
                <a href="{% url 'djangoapp:logout' %}">Logout</a>
       </div>
</div>

    {% else %}
            <form class="form-inline" method="post" action="{% url 'djangoapp:login' %}">
                {% csrf_token %}
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="Username" name="username" >
                     <input type="password" class="form-control" placeholder="Password" name="psw" >
                     <button class="btn btn-primary" type="submit">Login</button>
                     <a class="btn btn-link" href="registration">Sign Up</a>
                </div>
             </form>
        </div>
        <div>
            {% endif %}
    </nav>
    <!-- Add reviews as cards -->
    
    </body>

</html>