<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light d-flex">
        <div class="container-fluid">
            <div class="navbar-header d-flex align-items-center">
                <h3 class="mr-2">Dealership Application</h1>
                  <a class="navbar-brand" href="about">About Us</a>
                  <a class="navbar-brand" href="contact">Contact</a>
            </div>
            {% if user.is_authenticated %}
            {% if dealer_id %}
            <a
              class="btn btn-link"
              >Add Review</a
            >
            {% endif %}
<div class="rightalign">
       <div class="d-flex>
           <button class="btn btn-link mr-2">{{user.username}}</button>
                <a href="{% url 'djangoapp:logout' %}">Logout</a>
       </div>
</div>

    {% else %}
            <form class="form-inline" method="post" action="{% url 'djangoapp:login' %}">
                {% csrf_token %}
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="Username" name="username" >
                     <input type="password" class="form-control" placeholder="Password" name="psw" >
                     <button class="btn btn-primary" type="submit">Login</button>
                     <a class="btn btn-link" href="registration">Sign Up</a>
                </div>
             </form>
        </div>
        <div>
            {% endif %}
    </nav>
    <h3>Dealer ID: {{ dealer_id }}</h1>
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% for review in reviews %}
  
        <div class="card">
          {% if review.sentiment == "positive"%}
          <img class="card-img-left" style="width:50px;" src="{{MEDIA_URL}}emoji/positive.png" />
          {% elif review.sentiment == "neutral" %}
          <img class="card-img-left" style="width:50px;" src="{{MEDIA_URL}}emoji/neutral.png" />
          {% elif review.sentiment == "negative" %}
          <img class="card-img-left" style="width:50px;" src="{{MEDIA_URL}}emoji/negative.png" />
          {%else %}
          <img class="card-img-left" style="width:50px;" src="{{MEDIA_URL}}emoji/neutral.png" />
          {% endif %}
  
          <div class="card-body">
            <h5 class="card-title">{{ review.car_model }}</h5>
  
            <h6 class="card-subtitle mb-2 text-muted">{{ review.car_make }}</h6>
  
            <p class="card-text">{{ review.review }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </body>

</html>